
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'cat comic';
    src: url('./fonts/CatComic.ttf');
}
@font-face {
    font-family: 'cuanky italic';
    src: url('./fonts/Cuankyitalic.ttf');
}
@font-face {
    font-family: 'Cuanky';
    src: url('./fonts/Cuanky.ttf');
}

:root{
    --large-line-height : 150%;
    --medium-line-height: 80;
    --regular-line-height:24;
    --label-line-height:20;
    --title-line-height:28;
    --heading-line-height:40;
    --regular-label-line-height:16;
    --letter-spacing : 8px;
    --largedisplaysize : 128px;
    --mediumdisplaysize:96px;
    --regulardisplaysize:57px;
    --extralarge-bodyfont:96px;
    --large-bodyfont: 16px;
    --medium-bodyfont : 14px;
    --small-bodyfont: 12px;
    --large-labelfont: 14px;
    --medium-labelfont: 12px;
    --small-labelfont: 11px;
    --large-titlefont:22px;
    --medium-titlefont:16px;
    --small-titlefont:14px;
    --large-headlinefont:32px;
    --medium-headingfont:28px;
    --small-headingfont:24px;
    --background-color:#FFFBED;
    --primary-color : #FF4200;
    --secondary-blue: #50BBE9;
    --secondary-yellow : #FFFE6D;
    --secondary-pink: #FFB8D7;
    --secondary-green : #7FE493;
    --secondary-orange : #FFA239;
    --primary-text-color: #795F32;
    --secondary-text-color: #FFFBED;
}

body{
    font-family: "Host Grotesk", sans-serif;
    background-color: var(--background-color);  
    color: var(--primary-text-color); 
}
.navsection{
    background-color: var(--secondary-yellow);
    font-size: var(--large-titlefont);
    font-weight: 500;
}
.navlinks{
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.navlinks:hover{
    color: var(--primary-color);
}
.hero-section{
    background: url('./assets/background.webp') ;
    background-size:90%;
    background-position-x: center;
    background-repeat: no-repeat;
}
.hero-heading{
        font-family: 'Cuanky' !important;
        color: var(--primary-color);
        font-size: var(--mediumdisplaysize) !important;
        letter-spacing: 2%;
        line-height: 80px !important;
    }
    .hero-discription{
        
        font-weight: 500 !important;
        line-height: 150% !important;
        font-size: var(--small-headingfont) !important;
        letter-spacing:  0px !important;
        color: var(--primary-text-color) !important;
    }
    .hero-superheading{
        font-family: 'Cuanky' !important;
        color: var(--secondary-pink) !important;
    font-size: 190px !important;
    letter-spacing: 36px !important;
    line-height: 120% !important;
}

.aboutussection{
    position: relative;
    background-color: var(--secondary-yellow);
}
.waveimg{
    position: absolute;
    height: 560px;
    top: 600px;
    width: 100%;
    background: url('./assets/wave.svg');
    background-repeat: no-repeat;
}
.Orangebox{
 background-color: var(--secondary-orange);
}
.bluebox{
     background-color: var(--secondary-blue);
}
.pinkbox{
 background-color: var(--secondary-pink);
}
.aboutus-heading{
    font-size:48px !important;
    color: var(--primary-color);
    font-weight: 800 !important;
    line-height: 1.15 !important;
    letter-spacing: 0.025rem !important;
    font-family: 'cat comic' !important;
}
.aboutus-heading span{
    font-family: 'Cuanky' !important;
    /* color: var(--secondary-pink); */
    color: var(--primary-text-color) !important;
    letter-spacing: 0.16rem;
}
.marquee-text{
    color: var(--secondary-pink) !important;
    letter-spacing: 0.85rem !important;
    font-family: 'Cuanky' !important;
}
.marquee-text-2{
    color: var(--secondary-orange) !important;
    letter-spacing: 0.85rem !important;
    font-family: 'Cuanky' !important;
}
.HeroHeadingText{
    color: var(--secondary-pink);
    font-size: 220px !important;
    letter-spacing: 30px !important;
    line-height: 120% !important;
    font-family: 'Cuanky' !important;
    transition: all 0.4s ease-in-out;
}
.HeroHeadingText:hover{
    color: var(--primary-color) !important;
}